* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.prime-video-bg-container {
  min-height: 100vh;
  background-color: #000000;
}
.prime-video-img {
  width: 100%;
  margin-bottom: 1rem;
}
.responsive-container {
  padding: 1rem;
  padding-bottom: 2rem;
}
.moviesContainer {
  margin-bottom: 1rem;
}
.movies-genre {
  margin-bottom: 0.5rem;
  margin-left: 2.1rem;
  font-size: 1.5rem;
  color: #ffffff;
}
